{% extends "layouts/layout.html" %}
{% block content %}
<div class="d-flex flex-column justify-content-center py-3">
    <div class="card m-auto mb-2">
        <div class="card-body">
            <h5 class="card-title">Filter</h5>
            <div class="wrapper mb-2">
                <form class="row wrapper">
                    <div class="col-3 mb-2">
                        <div class="forn-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-3 mb-2">
                        <div class="forn-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-3 mb-2">
                        <div class="forn-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-3 mb-2">
                        <div class="forn-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-3 mb-2">
                        <div class="forn-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-3 mb-2">
                        <div class="forn-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-3 mb-2">
                        <div class="forn-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-3 mb-2">
                        <div class="forn-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </form>
            </div>
            <table class="table mb-2">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}