{% extends "layouts/layout.html" %}
{% block title %}Login{% endblock %}
{% block style %}
    {{ super() }}
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center py-3">
    <div class="card w-75">
        <div class="card-body">
            <h5 class="card-title">Login</h5>
            <form method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <label for="usernameInput">{{ form.username.label }}</label>
                    {{ form.username(size=20, class="form-control", placeholder="username", id="usernameInput") }}
                    {% for error in form.username.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="passwordInput">{{ form.password.label }}</label>
                    {{ form.password(size=20, class="form-control", placeholder="password", id="passwordInput") }}
                    {% for error in form.password.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                </div>
                {{ form.submit(class="btn btn-primary") }}
            </form>
        </div>
    </div>
</div>
{% endblock %}